<div class="container-flouid">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <h3>E-commerce store</h3>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"></a>
          </li>
          <li>
<%= link_to "Categories", categories_path, class: 'btn btn-primary' %>
<%# <%= form_tag categories_show_path, method: :get, id: 'category-form' do %>
  <%# <div class="form-group"> %>
    <%# <%= label_tag "category", "Select a category:" %>
    <%# <%= select_tag :category, options_for_select(@categories.map { |category| [category.name, category.id] }, prompt: 'Select a category'), class: 'form-control' %>
  <%# </div> %>
  <%# <%= submit_tag 'Filter', class: 'btn btn-primary' %>
<%# <% end %>
<%# <div class="form-group">
  <%= label_tag "category", "Select a category:" %>
  <%# <%= select_tag :category, options_for_select(@categories.map { |category| [category.name, category.id] }, prompt: 'Select a category'), class: 'form-control' %> 
  <%# <%= link_to 'Filter', categories_show_path, class: 'btn btn-primary' %> 
<%# </div> %>
          </li>
        </ul>
      </div>
        <% if user_signed_in? %>
          <%= "#{current_user.email}"   %>
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-primary'%>
          <% else  %>
            <li><%= button_to 'Sign in', new_user_session_path, class: 'btn btn-primary' %></li>
          <%# <li><%= button_to 'Sign up', new_user_registration_path, class: 'btn btn-primary'</li> %>

      <li><%= button_to 'Sign up', new_user_registration_path,method: :get,class: 'btn btn-primary'%></li>
        <% end %>
    
   
  </nav>
</div>

 

